
<div class="jumbotron text-center" ng-if="!main.loggedIn">
	<div>
		<h1>Sign up!</h1>
	</div>
	<div>
		<p>Login to write your story</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>
</div>



<div class="row" ng-if="main.loggedIn">
	<div class="col-md-3"></div>
	<div class="col-md-4" ng-controller="StoryController as story">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">Write your Story</div>
				<div class="panel-body">
				<form ng-submit="story.createStory()">
				  <input class="form-control input-lg" type="text" ng-model="story.storyData.content" placeholder=".....">
				</form>
				</div>
			</div>

			<div class="panel panel-success">
				<div class="panel-heading">Your Stories</div>
				<div class="panel-body" ng-repeat="each in story.stories | reverse">
					<p ng-if="!each.isEdit" data-tag="{{each._id}}">{{ each.content }}</p>
					<input ng-if="each.isEdit" ng-model="story.editStoryData" class="form-control input-lg" type="text">
					<button ng-if="each.isEdit" ng-click="story.saveEditStory(this)" data-tag="{{each._id}}" type="button" class="btn btn-sm btn-success">Save</button>
					<button ng-if="each.isEdit" ng-click="story.cancelEditStory(this)" data-tag="{{each._id}}" type="button" class="btn btn-sm btn-danger">Cancel</button>
					<button ng-if="!each.isEdit" ng-click="story.editStory(this)" data-tag="{{each._id}}" type="button" class="btn btn-sm btn-success">Edit</button>
					<button ng-if="!each.isEdit" ng-click="story.deleteStory(this)" data-tag="{{each._id}}" type="button" class="btn btn-sm btn-danger">Delete</button>
				</div>
				<div ng-if="story.stories.length < 1" class="alert alert-danger" role="alert">
					<strong>Add your stories</strong>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-3"></div>
</div>